<%= render :partial => 'spree/admin/shared/configuration_menu' %>

<h1>New Content Chunk</h1>
<%= render "spree/shared/error_messages", :target => @content_chunk %>
<%= form_for(@content_chunk, :url => collection_url, :html => { :multipart => true }) do |f| %>
  <%= render :partial => "form", :locals => { :f => f } %>
  <p class="form-buttons" data-hook="buttons">
    <%= button t('continue') %>
    <%= t("or") %> <%= link_to t("actions.cancel"), admin_content_chunks_url %>
  </p>
<% end %>
